@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hero';
  src: url('/Hero.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Copy';
  src: url('/copy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Hero', sans-serif;
}